<a href="https://colab.research.google.com/github/sbdrchauhan/python-ic/blob/main/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This notebook consists of the list of python functions that are collected from various sources and are interesting to refer later and solve it.

# **FizzBuzz** 

The famous FizzBuzz problem you might get asked by your interviewer.

**Problem:** Write a python program that prints the numbers from lets say 1 to 50. But for multiplies of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of both three and five print "FizzBuzz".

In [ ]:
for num in range(1,20):
  if num%3==0 and num%5==0:
    print("FizzBuzz")
  elif num%3==0:
    print("Fizz")
  elif num%5==0:
    print("Buzz")
  else:
    print(num)

# Note:
#-------
# In this method: you need to be careful that your conditions must be this order
# put your most exhaustive conditional check at the top
# lower conditions will be lesser and lesser exhaustive cases
# if you reverse the order, lets say you first check num%3==0, then 15 will be 
# only Fizz and won't reach to check if it was actually divisible by both conditions

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

# **Fibonacci Sequence**

**Problem:** Generate the sequence like the following:
1,1,2,3,5,8,13,21,...

Each number in the series is the addition of two numbers earlier in the series.

In [ ]:
# As I know the fibonacci series always starts with two ones, I will initialize my final 
# list with the two ones

lst = [1,1]
for i in range(2,11): # this for loop will help me to index the elements in the list
  lst.append(lst[i-2]+lst[i-1])
print(lst)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# **Prime Numbers:**

A prime number can only be divisible by 1 or itself. 

Note that 1 is not a prime number.

**Problem** Generate such prime numbers

**Hint** You can check the factors of each number by less than the number and if it has facotr, then it would not be prime.

In [ ]:
# one-method
for num in range(2,20):
  for i in range(2,num): # getting all numbers between 2 to num-1 to see if it is a factor
    if num%i==0:
      break # basically, it is a factor of some prime, so won't be next prime for us
  else:
    print(num)

2
3
5
7
11
13
17
19

In [ ]:
# second-way (shorter of first-actually)
for num in range(2,20):
  if all(num%i!=0 for i in range(2,num)):
    print(num)

2
3
5
7
11
13
17
19

In [ ]:
# third-way:
# using while
primes = []
candidates = list(range(2,20))
while len(candidates)>0:
  prime = candidates[0]
  primes.append(prime)
  candidates = candidates[1:]
  for x in candidates:
    if x%prime==0:
      candidates.remove(x)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

### **Bonus**
To count how many items of a certain kind is present in a list.

In [ ]:
lst = ['a','b','c','a','d','e','a','l','c','a','g','h','a']

# from the list above lets say we want to know how many 'a' are there
count = 0
for item in lst:
  if item=='a':
    count += 1
print(count)

5

In [ ]:
# But there is smarter way around to this:
total_a = sum([1 for i in lst if i=='a'])
print(total_a)

5

## **Palindrome**:
A word or phrase that reads same forward and backward. For example:
*madam*, *nurses run*, etc.

Write a python program that outputs `True` or `False` based on the palindrome.

In [ ]:
# method_1: using the recursion technique
def palindorme_1(some_string):
  # first remove the space if it has
  some_string = some_string.replace(" ","")
  if len(some_string)==1:
    return True
  if some_string[0] != some_string[-1]:
    return False
  return palindorme_1(some_string[1:-1])
  # here if none of the if staements runs, then it means we need to remove first
  # and last elements of the string we are looking at

In [ ]:
# check the function
print(palindorme_1("nurses run"))

True

In [ ]:
# method 2: using for loop
def palindorme_2(some_string):
  some_string = some_string.replace(" ","")
  for i in range(len(some_string)//2):
    if some_string[i] != some_string[-i-1]:
      return False
  return True

In [ ]:
# check the function
print(palindorme_2("nurses run"))

True

## **Rotate the list number of times specified**

Write a function `rotate()`, with the parameters `my_list` and `num_rotations`. `rotate()` should return the input list rotated `num_rotations` forward.

Example: `rotate(['a','b','c','d','e','f'], 1)` should return 
`['f','a','b','c','d','e']`

In [ ]:
def rotate(my_list, num_rotations):
  for i in range(num_rotations):
    my_list.insert(0,my_list.pop()) # both pop() and insert() are inplace method
  return my_list

In [ ]:
# check the function
rotate(['a','b','c','d','e','f'],1)

['f', 'a', 'b', 'c', 'd', 'e']

## **Remove duplicates**
Write a python function `remove_duplicates()` tha removes the duplicates from the list.
Example: input `['a','a','b','x','x','a','c']` should output `['a','b','c','x']`. you may sort the list at the end.

In [ ]:
def remove_duplicates(lst):
  unique_list = [] # I will append only unique values here
  for el in lst: # going through each element and deciding
    if el not in unique_list:
      unique_list.append(el)
      unique_list.sort() # inplace action sorted() doesnot change original list
  return unique_list

In [ ]:
print(remove_duplicates(['a','a','b','x','x','a','c']))

['a', 'b', 'c', 'x']

##Pythagorean-Triplet

Write a function that can tell if the 3 integers are pythagorean triplet (PT) or no. PT are 3 numbers that are the three sides of right angled triangle if $a,b,c$ and they satisfy the $a^2 + b^2 = c^2$ condition where $c>a,b$.

\>>> p_t([3,4,5])

True

\>>>p_t([3,4,6])

False

In [2]:
def p_t(lst):
  lst.sort()
  if lst[0]**2 + lst[1]**2 == lst[2]**2:
    return True
  return False

In [3]:
p_t([3,4,5])

True

In [4]:
p_t([3,4,6])

False

In [6]:
# if I don't know the sorting, I need to check any combination
def p_t1(lst):
  for i in range(len(lst)):
    for j in range(i+1, len(lst)):
      for k in range(j+1, len(lst)):
        if lst[i]**2 + lst[j]**2 == lst[k]**2:
          return True
  return False
  # this returns False only after checking all possible combinations of three ints

In [7]:
p_t([3,4,5])

True

In [9]:
p_t([3,5,4])
# I changed the order, but still found p_t

True

In [10]:
p_t([10,6,8])

True

In [11]:
p_t([2,1,3])

False